@page
@model RealEstate.Pages.AddHomeModel

@if (TempData["ErrorMessage"] != null)
{
        <div class="alert alert-danger mt-3" role="alert">
        @TempData["ErrorMessage"]
        </div>
}

<a class="btn btn-outline-dark mt-3 mb-3" asp-page="/Index">Back To Home List</a>

<h2>Add a new Home</h2>

<form class="pb-3" method="post">
    <div class="mb-3 w-25">
        <label>Price</label>
        <input asp-for="NewHome.Price" class="form-control" />
        <span asp-validation-for="NewHome.Price" class="text-danger"></span>
    </div>
    <div class="pb-3 w-50">
        <label>Address</label>
        <input asp-for="NewHome.Address" class="form-control" />
        <span asp-validation-for="NewHome.Address" class="text-danger"></span>
    </div>
    <div class="pb-3 w-25">
        <label>Square Meters</label>
        <input asp-for="NewHome.Area" class="form-control" />
        <span asp-validation-for="NewHome.Area" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-success" value="Add Home" />
</form>
